@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is my term project for CS296N. Feel free to poke around and see what you can find!</p>
</div>
