/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*====================================My CSS====================================*/
.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*-----------------------------------Post Obj-----------------------------------*/
.post-obj {
    width: 45%;
    position: relative;
    min-width: 400px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: default;
    object-fit: contain;
}

.post-obj-title {
    max-width: 98%;
    text-align: center;
    justify-content: center;
    object-fit: contain;
    height: auto;
    padding: 3px;
}

.post-obj-img {
    max-width: 98%;
    text-align: center;
    justify-content: center;
    object-fit: contain;
    height: auto;
    padding: 3px;
}

.post-obj-top {
    margin: 0px;
    padding: 0px;
    justify-content: right;
    display: grid;
    grid-template-columns: 88% 12%;
}

.single-post-obj-top {
    margin: 0px;
    padding: 0px;
    justify-content: right;
    display: grid;
    grid-template-columns: 93% 7%;
}

.post-obj-bottom {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px;
    object-fit: contain;
}

.poster-name {
    padding: 10px;
    text-align: left;
    object-fit: contain;
}

.post-like-button {
    padding: 10px;
    max-width: 50px;
    justify-content: right;
    text-align: right;
    object-fit: contain;
}

.post-description {
    padding: 4px;
    text-align: left;
    object-fit: contain;
}

/*-----------------------------------Comment------------------------------------*/

.post-comments {
    display: grid;
    grid-template-columns: 100%;
    justify-content: right;
}

.post-add-comment {
    display: grid;
    grid-template-columns: 100%;
    
}

.post-comment {
    justify-content: right;
    overflow: auto;
    position: relative;
    min-width: 400px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    cursor: default;
    object-fit: contain;
    grid-template-columns: 100%;
}

.commenter-name {

}

.comment-content {

}

/*------------------------------------Upload------------------------------------*/

.upload-title {
    width: auto;
    min-width: 400px;

}
.upload-description {
    width: auto;
    min-width: 800px;
}

/*==================================End My CSS==================================*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
